<form class="form-horizontal user-setting-panel pt_forms pt_shadow" id="general-settings" method="POST">
	<div class="yp_sett_header">
		<div class="ava_combo">
			<div class="ava">
				<img src="{{USER avatar}}" alt="{{USER id}}" />
			</div>
			<div class="logo_svg">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M416.3 256c0-21 13.1-38.9 31.7-46.1-4.9-20.5-13-39.7-23.7-57.1-6.4 2.8-13.2 4.3-20.1 4.3-12.6 0-25.2-4.8-34.9-14.4-14.9-14.9-18.2-36.8-10.2-55-17.3-10.7-36.6-18.8-57-23.7C295 82.5 277 95.7 256 95.7S217 82.5 209.9 64c-20.5 4.9-39.7 13-57.1 23.7 8.1 18.1 4.7 40.1-10.2 55-9.6 9.6-22.3 14.4-34.9 14.4-6.9 0-13.7-1.4-20.1-4.3C77 170.3 68.9 189.5 64 210c18.5 7.1 31.7 25 31.7 46.1 0 21-13.1 38.9-31.6 46.1 4.9 20.5 13 39.7 23.7 57.1 6.4-2.8 13.2-4.2 20-4.2 12.6 0 25.2 4.8 34.9 14.4 14.8 14.8 18.2 36.8 10.2 54.9 17.4 10.7 36.7 18.8 57.1 23.7 7.1-18.5 25-31.6 46-31.6s38.9 13.1 46 31.6c20.5-4.9 39.7-13 57.1-23.7-8-18.1-4.6-40 10.2-54.9 9.6-9.6 22.2-14.4 34.9-14.4 6.8 0 13.7 1.4 20 4.2 10.7-17.4 18.8-36.7 23.7-57.1-18.4-7.2-31.6-25.1-31.6-46.2zm-159.4 79.9c-44.3 0-80-35.9-80-80s35.7-80 80-80 80 35.9 80 80-35.7 80-80 80z"></path></svg>
			</div>
		</div>
		<h4>{{LANG general}}</h4>
	</div>
	<div class="setting-general-alert"></div>
	<div class="row">
        <!-- Text input-->
        <div class="form-group col-lg-6">
            <label class="col-md-12" for="username">{{LANG username}}</label>
            <div class="col-md-12">
                <input id="username" name="username" type="text" placeholder="" class="form-control input-md" value="{{USER username}}">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group col-lg-6">
            <label class="col-md-12" for="email">{{LANG email_address}}</label>
            <div class="col-md-12">
                <input id="email" name="email" type="text" placeholder="" class="form-control input-md" value="{{USER email}}">
                <?php if ($pt->config->validation == 'on' && !empty($pt->settings->new_email)) { ?>
                    <small class="unverify_color"><?php echo $pt->settings->new_email; ?>({{LANG unverified}})</small>
                <?php } ?>
            </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group col-lg-6">
            <label class="col-md-12" for="gender">{{LANG gender}}</label>
            <div class="col-md-12">
                <select id="gender" name="gender" class="form-control">
                    <option value="male" <?php echo ($pt->settings->gender == 'male') ? 'selected': '';?>>{{LANG male}}</option>
                    <option value="female" <?php echo ($pt->settings->gender == 'female') ? 'selected': '';?>>{{LANG female}}</option>
                </select>
            </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group col-lg-6">
            <label class="col-md-12" for="country">{{LANG country}}</label>
            <div class="col-md-12">
                <select id="country" name="country" class="form-control">
                    {{COUNTRIES_LAYOUT}}
                </select>
            </div>
        </div>
		<!-- Select Basic -->
        <div class="form-group col-lg-6">
            <label class="col-md-12" for="age">Age</label>
            <div class="col-md-12">
                <select id="age" name="age" class="form-control">
                    <option value="0">Not selected</option>
                    <?php
                    for ($i=1; $i < 100; $i++) { 
                        ?>
                        <option value="<?php echo $i;?>" <?php echo ($pt->settings->age == $i) ? 'selected': '';?>><?php echo $i;?></option>
                        <?php
                    }
                    ?>
                </select>
            </div>
        </div>
        <?php if ($pt->config->donate_system == 'on') { ?>
         <!-- Text input-->
        <div class="form-group col-lg-6">
            <label class="col-md-12" for="donation_paypal_email">{{LANG donation_paypal_email}}</label>
            <div class="col-md-12">
                <input id="donation_paypal_email" name="donation_paypal_email" type="text" placeholder="" class="form-control input-md" value="{{USER donation_paypal_email}}">
            </div>
        </div>
        <?php } ?>
        <div class="clear"></div>
        <?php if ($pt->is_admin == true) { ?>
            {{ADMIN_LAYOUT}}
        <?php } ?>
        <hr>
        {{CUSTOM_FIELDS}}
	</div>
	<input type="hidden" name="hash_id" value="<?php echo PT_CreateSession()?>">
	<input type="hidden" name="user_id" value="{{USER id}}">
	<input type="hidden" name="cf" value="{{CUSTOM_DATA}}">
	<!-- Button (Double) -->
	<div class="last-sett-btn modal-footer" style="margin: 0px -30px -10px -30px;">
		<button id="submit" name="submit" class="btn btn-main setting-panel-mdbtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg> {{LANG save}}</button>
	</div>
</form>

<script>
    $(function() {
        var form = $('form#general-settings');

        form.ajaxForm({
            url: '{{LINK aj/user/general}}?hash=' + $('.main_session').val(),
            beforeSend: function() {
                form.find('button').text("{{LANG please_wait}}");
                // FL_progressIconLoader(form.find('button'));
            },
            success: function(data) {
                scrollToTop();
                if (data.status == 200) {
                    $('.setting-general-alert').html('<div class="alert alert-success">' + data.message + '</div>');
                    $('.alert-success').fadeIn('fast', function() {
                        $(this).delay(2500).slideUp(500, function() {
                            $(this).remove();
                        });
                    });

                    if (data.show_modal == true) {
                        var text = "{{LANG confirm_code}}";
                        var error = "{{LANG confirm_check_text}}";
                        swal({
                            title: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg> {{LANG two_factor}}',
                            html: $('<form>').add($('<p>',{
                              text:"{{LANG confirmation_message_email_sent}}",
                              class:'report-message-label'
                            })).add($('<div class="pt_forms"><div class="form-group"><input type="text" name="code" id="v_code" placeholder="'+text+'" required value=""></div></div>')),
                            showCancelButton: true,
                            confirmButtonText: '{{LANG submit}}',
                            cancelButtonText: '{{LANG cancel}}',
                            customClass:'report-video-popup',
                            animation: false,
                            preConfirm: function(name){
                              return new Promise(function(resolve,reject){
                                  message = $('#v_code').val();
                                  if (message.length < 1) {
                                    swal.showValidationError(
                                      '{{LANG please_check_details}}'
                                    );
                                    reject();
                                  }
                                  else{
                                    var code = $('#v_code').val();
                                    $.ajax({
                                      url: '{{LINK aj/user/verify_email}}?hash=' + $('.main_session').val(),
                                      type: 'POST',
                                      dataType: 'json',
                                      data: {code: code,user_id:{{USER id}}},
                                    })
                                    .done(function(data) {
                                      if (data.status == 200) {
                                        swal({
                                          title: '{{LANG thank_u}}',
                                          html: '{{LANG new_email_verified}}'
                                        });
                                        setTimeout(function (argument) {
                                            location.reload();
                                        },2000);
                                      }
                                      else{
                                        swal.showValidationError(
                                          data.message
                                        );
                                        reject();
                                      }
                                    });
                                  }
                              });
                            },
                            allowOutsideClick: false
                          }).then(function(){});

                    }


                } else if (data.errors) {
                    var errors = data.errors.join("<br>");
                    $('.setting-general-alert').html('<div class="alert alert-danger">' + errors + '</div>');
                    $('.alert-danger').fadeIn(300);
                }
                form.find('button').html('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg> {{LANG save}}');
                // FL_progressIconLoader(form.find('button'));
            }
        });
    });
</script>