<div class="content">
	<div class="col-md-12">
		<div class="upload-head">
			<h4 class="page_head"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z" /></svg> {{LANG history}}</h4>
			<hr>
		</div>
		<div class="subscriptions-list">
			<div class="author-list row pt_history">
      		{{HISTORY_LIST}}
			</div>
			<?php if (count($pt->videos) > 5) { ?>
            <div class="watch-video-show-more desc load-more" data-type="history">
                {{LANG show_more}}
            </div>
			<?php } ?>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>