<div class="wo_about_wrapper_parent">
	<div class="wo_about_wrapper"> 
		<div class="hero hero-overlay" style="background-color: #03a9f4;"></div>
	</div>
</div>
<div class="pt_page_margin">
	<div class="mat_header">
		<h1><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="color: #03a9f4;"><path fill="currentColor" d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" /></svg> {{LANG import_new_video}}</h1>
	</div>
	<div class="row">
		<div class="col-md-8 custom_width_import w-100">
			<div class="content pt_shadow">
				<div class="col-md-12 pt_import_vdo">
					<div class="col-md-12" id="fetch-form">
						<form action="" class="form-horizontal" method="POST">
							<div class="text-center"><svg fill="#999" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-import"><path d="M5.12,5L5.93,4H17.93L18.87,5M12,17.5L6.5,12H10V10H14V12H17.5L12,17.5M20.54,5.23L19.15,3.55C18.88,3.21 18.47,3 18,3H6C5.53,3 5.12,3.21 4.84,3.55L3.46,5.23C3.17,5.57 3,6 3,6.5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V6.5C21,6 20.83,5.57 20.54,5.23Z" /></svg></div>
							<div class="row">
								<div class="col-md-9">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-link"><path fill="currentColor" d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z"></path></svg>
									<input id="url" name="url" type="text" placeholder="{{LANG video_url}}" class="form-control input-md" autofocus> 
									<span class="help-block">{{LANG url_desc}}, <?php echo ($pt->config->facebook_import == 'on') ? 'Facebook, ': '';?>mp4<?php echo ($pt->config->ok_import == 'on') ? ',ok.ru': '';?></span>
								</div>
								<div class="col-md-3">
									<button type="button" class="btn btn-main fetch-url">{{LANG fetch_Video}}</button>
								</div>
							</div>
							<div class="clear"></div>
						</form>
					</div>
					<div class="col-md-12 import-form-content hidden">
						<div class="row">
							<div class="col-md-7" id="import-form">
								<form action="" class="form-horizontal setting-panel pt_forms" method="POST" id="submit-imported-video">
									<div class="form-group">
										<label class="col-md-12" for="title">{{LANG video_title}}</label>  
										<div class="col-md-12">
											<input id="title" name="title" type="text" placeholder="" class="form-control input-md">
											<span class="help-block">{{LANG video_title_help}}</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-12" for="description">{{LANG video_descritpion}}</label>  
										<div class="col-md-12">
											<textarea name="description" id="description" cols="30" rows="8" class="form-control"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-12" for="category_id">{{LANG category}}</label>  
										<div class="col-md-12">
											<select name="category_id" id="category_id" class="form-control">
												<?php foreach($pt->categories as $key => $category) {?>
													<option value="<?php echo $key?>"><?php echo $category?></option>
												<?php } ?>
											</select>
										</div>
									</div>
									<div class="form-group">
					                    <label class="col-md-12" for="sub_category_id">{{LANG sub_category}}</label>
					                    <div class="col-md-12">
					                        <select name="sub_category_id" id="sub_category_id" class="form-control">
					                           <?php echo $pt->sub_categories_array["'1'"]; ?>
					                        </select>
					                    </div>
					                </div>
					                <?php if ($pt->config->geo_blocking == 'on') {
				                       ?>
				                      <div class="form-group">
				                        <label class="col-md-12" for="geo_blocking">{{LANG geo_blocking}}</label>
				                        <div class="col-md-12">
				                          <div class="form-group-rs" id="geo_blocking">
				                                <select class="form-control selectpicker show-menu-arrow show-tick" multiple name="continents-list[]" data-live-search="true" title="{{LANG geo_blocking}}" data-actions-box="true">
				                                    <?php 
				                                    foreach ($pt->continents as $key => $name): 
				                                      ?>
				                                      <option value="<?php echo($name); ?>">
				                                        <span>
				                                          <?php echo($name); ?>
				                                        </span>
				                                      </option>
				                                    <?php endforeach; ?>
				                                </select>
				                                <div class="clear"></div>
				                            </div>
				                        </div>
				                      </div>
				                      <?php } ?>
									<div class="form-group">
										<label class="col-md-12" for="privacy">{{LANG privacy}}</label>  
										<div class="col-md-12">
											<select name="privacy" id="privacy" class="form-control">
												<option value="0">{{LANG public}}</option>
												<option value="1">{{LANG private}}</option>
												<option value="2">{{LANG unlisted}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-12" for="age_restriction">{{LANG age_restriction}}</label>  
										<div class="col-md-12">
											<select name="age_restriction" id="age_restriction" class="form-control">
												<option value="1" selected>{{LANG all_ages}}</option>
												<option value="2">{{LANG only_18}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-12" for="tags">{{LANG tags}}</label>  
										<div class="col-md-12">
											<input id="mySingleFieldTags" name="tags" type="text" placeholder="" class="form-control input-md">
											<span class="help-block">{{LANG tags_help}}</span>
										</div>
									</div>
									<div class="form-group hidden" id="duration_format">
						                <label class="col-md-12" for="duration">{{LANG duration}}</label>  
						                <div class="col-md-12">
						                  <input id="duration" name="duration" type="text" placeholder="" class="form-control input-md duration">
						                  <span class="help-block">EX : 03:30</span>
						                </div>
						              </div>
						              

									<?php if ((($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'off') || ($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'on' && $pt->user->monetization == '1')) && $pt->user->video_mon == '1') { ?>

									<div class="form-group">
					                    <label class="col-md-12" for="monetization">{{LANG monetization}}</label>  
					                    <div class="col-md-12">
					                        <select name="monetization" id="monetization" class="form-control">
					                           <option value="1">{{LANG enable}}</option>
					                           <option value="0">{{LANG disable}}</option>
					                        </select>
					                    </div>
					                </div>
					                <?php } ?>
									<input type="hidden" name="thumbnail-image" class="thumbnail">
									<input type="hidden" name="video-type" class="type">
									<input type="hidden" name="video-id" class="video-id">
									<input type="hidden" name="twitch_type" class="twitch_type">
									<!-- <input type="hidden" name="duration" class="duration"> -->
									<input id="thumbnail" name="thumbnail" type="file" accept="image/*" class="hidden">
									<div class="last-sett-btn modal-footer">
										<button type="submit" class="btn btn-main submit-url setting-panel-mdbtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg> {{LANG publish}}</button>
									</div>
									<div class="clear"></div>
								</form>
							</div>
							<div class="col-md-5">
								<div class="thumbnail-preview edit-thumb thumbnail-preview-renderer">
									<img src="" alt="Picture">
								</div>
								<div class="video-title">
									<p></p>
								</div>
								<div class="video-description">
									<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<br><br><br><br><br>

<script>
$('.selectpicker').selectpicker({});
<?php 
$js_array = json_encode($pt->sub_categories_array);
echo "var sub_categories_array = ". $js_array . ";\n";
?>
$(document).on('change', '#category_id', function(event) {
   event.preventDefault();
   id = $(this).val();
   $('#sub_category_id').html(sub_categories_array["'"+id+"'"]);
});


$(function () {
   $('.edit-thumb').on('click', function(event) {
      $('#thumbnail').trigger('click');
   });

   $('#thumbnail').on('change', function(event) {
      readURL(this);
   });

   $('#submit-imported-video').ajaxForm({
       url: '{{LINK aj/submit-imported-video}}?hash=' + $('.main_session').val(),
       beforeSend: function() {
         $('.submit-url').attr('disabled', true);
         $('.submit-url').text("{{LANG please_wait}}");
       },
       success: function(data) {
         if (data.status == 200) {
            window.location.href = data.link;
         } 
         else {
            $('.submit-url').attr('disabled', false);
             $('.submit-url').html('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg> {{LANG publish}}');
			Snackbar.show({text: '<div>'+ data.message +'</div>'});
         }
       }
   });
   $('#description').keyup(function(event) {
      str = $(this).val().replace(/(?:\r\n|\r|\n)/g, '<br />');
      $('.video-description p').html(str);
   });
   $('#title').keyup(function(event) {
      $('.video-title p').html($(this).val());
   });
   $('#mySingleFieldTags').tagit({
      allowSpaces: true
   });
	$('.fetch-url').on('click', function () {
		$(this).text("{{LANG please_wait}}");
		$.post('{{CONFIG site_url}}/aj/fetch-video', {link: $('#url').val()}, function(data, textStatus, xhr) {
			$('.fetch-url').text('{{LANG fetch_Video}}');
			if (data.status == 200) {
            if ($("#mySingleFieldTags").val()) {
               $(".tagit-choice").remove();
            }
            $('.alert-danger').empty();
				$('#title').val(data.title);
            $('.video-title p').html(data.title);
            $('#description').val(data.description);
            $('.video-description p').html(data.description_br);
            $('#mySingleFieldTags').val(data.tags);
            $('.duration').val(data.duration);
            if (data.type == 'mp4') {
              $('#duration_format').removeClass('hidden');
            }
            else{
              $('#duration_format').addClass('hidden');
            }
            var partsOfStr = data.tags.split(',');
            for (i = 0; i < partsOfStr.length; i++) {
               $('#mySingleFieldTags').tagit("createTag", partsOfStr[i]);
            }
            $('.thumbnail').val(data.thumbnail);
            
            $('.thumbnail-preview img').attr('src', data.full_thumb);
            $('.video-id').val(data.video_id);
            $('.twitch_type').val(data.twitch_type);
            $('.type').val(data.type);
            $('.import-form-content').removeClass('hidden');
			$('.custom_width_import').addClass('w-100');
			} 

         else if(data.status == 401){
            swal({
               title: '{{LANG oops}}!',
               text: "{{LANG import_limit_reached}}!",
               type: 'info',
               showCancelButton: true,
               confirmButtonColor: '#3085d6',
               cancelButtonColor: '#d33',
               confirmButtonText: '{{LANG upgrade_now}}',
               cancelButtonText: '{{LANG cancel}}',
               confirmButtonClass: 'btn btn-success margin-right',
               cancelButtonClass: 'btn',
               buttonsStyling: false
            }).then(function(){
               window.location.href = '{{LINK go_pro}}';
            },
            function() {
               window.location.href = '{{LINK }}';
            });
            
         }
         else {
				Snackbar.show({text: '<div>'+ data.message +'</div>'});
			}
		},dataType = 'json');
	});
});
</script>