<div class="related-video-wrapper">
	<div class="ra-thumb">	
        <img src="{{IMAGE}}">
        <div class="ra-info re-video-info">
            <span>{{VIEWS}} {{LANG views}}</span>  /
            <span><a href="{{CATEGORY_URL}}" data-load="?link1=videos&page=category&id={{CATEGORY_ID}}">{{CATEGORY_NAME}}</a></span>
        </div>
        <div class="ra-overlay">
        	<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
        		<i class="material-icons">play_circle_filled</i>
        	</a>
        </div>
    </div>
    <div class="ra-title">
        <h5><a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">{{TITLE}}</a></h5>
    </div>
</div>