<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 pt_about">
		<?php if (!empty($pt->profile_user->about)) { ?>
			<h4>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info ahead" style="background:#047cac;"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg> {{LANG about_profile}}
			</h4> 
			{{USER about}}
		<?php } ?>
		<h5><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> {{USER gender_text}}</h5> 
		<?php if (!empty($pt->profile_user->country_name) && $pt->profile_user->country_name != "Select Country") { ?>
			<h5><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg> {{USER country_name}}</h5>
			<?php } ?> 
			<?php if (!empty($pt->custom_fields)): ?>
				<div>
					<hr>
					<h5><i class="fa fa-info fa-fw"></i> {{LANG more_info}}</h5>
					{{CUSTOM_FIELDS}}
				</div>
			<?php endif ?>
		
		
		<?php if (!empty($pt->profile_user->facebook) || !empty($pt->profile_user->google) || !empty($pt->profile_user->twitter)) { ?>
		<hr>
		<h4><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share ahead" style="background:#8d73cc;"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg> {{LANG social_links}}</h4>
		<div class="share-video">
			<?php if (!empty($pt->profile_user->facebook)) { ?><a href="{{USER facebook}}" class="fa fa-facebook" target="_blank"></a><?php } ?>
			<?php if (!empty($pt->profile_user->google)) { ?><a href="{{USER google}}" class="fa fa-google" target="_blank"></a><?php } ?>
			<?php if (!empty($pt->profile_user->twitter)) { ?><a href="{{USER twitter}}" class="fa fa-twitter" target="_blank"></a><?php } ?>
			<?php if (!empty($pt->profile_user->instagram)) { ?><a href="{{USER instagram}}" class="fa fa-instagram" target="_blank"></a><?php } ?>
		</div>
		<?php } ?>
	</div>
	<div class="col-md-2"></div>
</div>