<nav class="navbar navbar-findcond navbar-fixed-top header-layout">
	<div class="container-fluid">
		<div class="navbar-header pull-left">
			<?php 
			if ((!empty($pt->page) && $pt->page != 'watch' && $pt->page != 'movies') || (!empty($pt->page) && $pt->page == 'watch' && !empty($pt->get_video) && !$pt->get_video->is_movie)) { ?>
				<?php if ($pt->config->night_mode == 'both' || $pt->config->night_mode == 'night_default'): ?>
					<div class="toggle-mode hidden-xs pull-left top-header">
						<label class="switch" data-toggle="tooltip" data-placement="bottom" title="{{LANG mode}}">
							<input type="checkbox" {{MODE}} id="toggle-mode">
							<span class="slider round">
								<svg fill="#009da0" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-bulb"><path d="M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z" /></svg>
							</span>
						</label>
					</div>
				<?php endif; ?>
			<?php } ?>
			<?php if ($pt->page != 'login') { ?>
				<div class="pull-left yp_slide_menu">
					<span id="open_slide">
						<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg>
					</span>
				</div>
			<?php } ?>
			<a class="navbar-brand logo-img" href="{{LINK }}" itemprop="url">
				<?php if ((!empty($pt->get_video) && $pt->get_video->is_movie) || $pt->page == 'movies') { ?>
					<img itemprop="logo" src="{{CONFIG theme_url}}/img/logo-light.png" alt="{{CONFIG title}}">
				<?php } else { ?>
					<img itemprop="logo" src="{{CONFIG theme_url}}/img/<?php echo ($pt->mode != 'night') ? 'logo' : 'logo-light';?>.png" alt="{{CONFIG title}}">
				<?php } ?>
			</a>
			<form class="navbar-form navbar-left search-header pull-left" role="search" action="{{LINK search}}" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" id="search-bar" name="keyword" placeholder="{{LANG search_keyword}}" autocomplete="off" value="{{SEARCH_KEYWORD}}"> 
                    <?php
                    if (!empty($_GET['is_channel'])) {
                    ?>
                    <input type="hidden" name="is_channel" value="true">
                    <?php } ?>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search" onclick="javascript:$('.search-header input').focus();"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
					<div class="search-dropdown hidden"></div>
                </div>
            </form>
		</div>
		<div class="pull-right">
			<ul class="nav navbar-nav navbar-right pull-right">
				<?php if (IS_LOGGED) { ?>
					<?php if (($pt->config->who_upload == 'admin' && PT_IsAdmin()) || $pt->config->who_upload == 'all') { ?>
					<?php if ($pt->config->upload_system == 'on' && !$pt->user->suspend_upload) { ?> 
				    <li class="hide_up_imp pull-left">
						<a href="{{LINK upload-video}}" class="btn upload-button" data-load="?link1=upload-video">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#009688" d="M9,16V10H5L12,3L19,10H15V16H9M5,20V18H19V20H5Z" /></svg>
							<span class="hide-in-mobile">{{LANG upload}}</span>
						</a>
					</li>
					<?php } ?>
					<?php } ?>
					<?php if ($pt->config->import_system == 'on' && !$pt->user->suspend_import) { ?> 
				    <li class="hide_up_imp pull-left">
						<a href="{{LINK import-video}}" class="btn import-button" data-load="?link1=import-video">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#03a9f4" d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" /></svg>
							<span class="hide-in-mobile">{{LANG import}}</span>
						</a>
					</li>
					<?php } ?>
					<?php if ($pt->config->live_video == 1 && ($pt->config->who_use_live == 'all' || ($pt->config->who_use_live == 'admin' && PT_IsAdmin()) || ($pt->config->who_use_live == 'pro' && $pt->user->is_pro > 0))) { ?>
					<li class="hide_up_imp pull-left">
						<a href="{{LINK live}}" class="btn import-button" data-load="?link1=live">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#e91e63" d="M17,10.5L21,6.5V17.5L17,13.5V17A1,1 0 0,1 16,18H4A1,1 0 0,1 3,17V7A1,1 0 0,1 4,6H16A1,1 0 0,1 17,7V10.5M14,16V15C14,13.67 11.33,13 10,13C8.67,13 6,13.67 6,15V16H14M10,8A2,2 0 0,0 8,10A2,2 0 0,0 10,12A2,2 0 0,0 12,10A2,2 0 0,0 10,8Z"></path></svg>
							<span class="hide-in-mobile">{{LANG live}}</span>
						</a>
					</li>
				<?php } ?>

				<?php }else{ ?>
					<?php if ($pt->config->upload_system == 'on') { ?> 
				    <li class="hide_up_imp pull-left">
						<a href="{{LINK upload-video}}" class="btn upload-button" data-load="?link1=upload-video">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#009688" d="M9,16V10H5L12,3L19,10H15V16H9M5,20V18H19V20H5Z" /></svg>
							<span class="hide-in-mobile">{{LANG upload}}</span>
						</a>
					</li>
					<?php } ?>
					<?php if ($pt->config->import_system == 'on') { ?> 
				    <li class="hide_up_imp pull-left">
						<a href="{{LINK import-video}}" class="btn import-button" data-load="?link1=import-video">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#03a9f4" d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" /></svg>
							<span class="hide-in-mobile">{{LANG import}}</span>
						</a>
					</li>
					<?php } ?>

				<?php } ?>
					
				<li class="show-in-mobile pull-left top-header">
					<a href="#" class="search-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#444" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" /></svg></a>
				</li>
				<?php if (IS_LOGGED): ?>
				<li class="hide-from-mobile pull-left top-header">
					 <a href="{{LINK messages}}" data-load="?link1=messages">
				   		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,12V3A1,1 0 0,0 16,2H3A1,1 0 0,0 2,3V17L6,13H16A1,1 0 0,0 17,12M21,6H19V15H6V17A1,1 0 0,0 7,18H18L22,22V7A1,1 0 0,0 21,6Z" /></svg>
				   		<span id="new-messages"></span>
				    </a>
				</li>
				<li class="hide-from-mobile dropdown pull-left top-header">
				    <a href="javascript:void(0);"  id="get-notifications" class=" dropdown-toggle" data-toggle="dropdown">
				   		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,22A2,2 0 0,0 14,20H10A2,2 0 0,0 12,22M18,16V11C18,7.93 16.36,5.36 13.5,4.68V4A1.5,1.5 0 0,0 12,2.5A1.5,1.5 0 0,0 10.5,4V4.68C7.63,5.36 6,7.92 6,11V16L4,18V19H20V18L18,16Z" /></svg>
				   		<span id="new-notifications"></span>
				    </a>
				    <ul class="dropdown-menu notfi-dropdown" id="notifications">
					    <li>
					    	<h5>
					    		<b id="all-notifications"></b> {{LANG notifications}}
					    		<i class="fa fa-circle-o-notch spin hidden"></i>
					    	</h5>
					    </li>
					    <li>
					    	<ul id="notifications-list"></ul>
					    </li>
				    </ul>
				</li>
				<?php endif; ?>
				{{SIDE_HEADER}}
			</ul>
		</div>
	</div>
</nav>

<nav class="navbar navbar-findcond navbar-fixed-top header-layout hidden search-bar">
    <div class="container-fluid">
		<form class="search-header-mobile" role="search" action="{{LINK search}}" method="GET">
			<div class="form-group">
				<input type="text" class="form-control" id="search-bar-mobile" name="keyword" placeholder="{{LANG search_keyword}}" autocomplete="off" value="{{SEARCH_KEYWORD}}" autofocus>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
			</div>
			<div class="search-dropdown hidden"></div>
		</form>
	</div>
</nav>

<?php if (IS_LOGGED): ?>
<script>
	jQuery(document).ready(function($) {
		pt_get_notifications({type:'new'});
		UpdateInfo();
		
		$("#get-notifications").click(function(event) {
			if ($('#notifications').css('display') == 'none') {
				var notfi_cont = $("ul.notfi-dropdown");
				
				if ($("span#new-notifications").html() != '') {
					$(this).find('span#new-notifications').empty();
				}

				pt_get_notifications({sa:1});
			}
		});

		setInterval(function(){
			pt_get_notifications({type:'new'});
		}, 6000);
	});
	function UpdateInfo() {
		$.post('{{LINK aj/user/update_info}}?hash=' + $('.main_session').val(), function(data, textStatus, xhr) {});
	}

	function pt_get_notifications(args){
		if (!args) {
			args = {};
		}
		var notfi_cont = $("ul.notfi-dropdown");
		var notfi_set  = $("ul#notifications");
		
		defparams = {
			type: false,
			sa:false
		}

		options = Object.assign(defparams,args);
		data    = {'hash':$('.main_session').val()};

		if (options['type']) {
			data['t'] = options['type'];
		}

		if (options['sa']) {
			data['sa'] = options['sa'];
			notfi_set.find('i.spin').removeClass('hidden');
		}

		$.ajax({
			url: '{{LINK aj/get_notifications}}',
			type: 'GET',
			dataType: 'json',
			data:data
		})
		.done(function(data) {
			if (data.status == 200) {
				if (data.new) {
					$("span#new-notifications").html($('<b>',{
						text:data.new
					}));
				}
				else{
					notfi_set.find('b').text(data.len);
					notfi_set.find('ul').html(data.html);
				}			
			}
			else if(data.status == 304 && options['sa']){
				notfi_set.find('b').text(0);
				notfi_set.find('ul').html($("<li>",{
					class:'no-notifications',
					text: "{{LANG no_notifications}}"
				}));
			}
			
			if (data.count_messages > 0) {
				$('#new-messages').html('<b>' + data.count_messages + '</b>');
			} else {
				$('#new-messages').html('');
			}

			if (options['sa']) {notfi_set.find('i.spin').addClass('hidden');}
			
		})
		.fail(function() {
			console.log("error");
		});
	}
</script>
<?php endif ?>

<script>
$('.search-icon').on('click', function(event) {
	event.preventDefault();
	$('.search-bar').toggleClass('hidden');
});

$('#open_slide').on('click', function(event) {
	event.preventDefault();
	$('body').addClass('side_open');
});
//$('.sidenav-overlay').on('click', function() {
//	$('body').removeClass('side_open');
//});

$('#search-bar').keyup(function(event) {
	var search_value = $(this).val();
	var search_dropdown = $('.search-dropdown');
	if (search_value == '') {
		search_dropdown.addClass('hidden');
		search_dropdown.empty();
		return false;
	} else {
		search_dropdown.removeClass('hidden');
	}
    $.post('{{LINK aj/search}}', {search_value: search_value}, function(data, textStatus, xhr) {
    	if (data.status == 200) {
    		search_dropdown.html(data.html);
    	} else {
	       search_dropdown.addClass('hidden');
		   search_dropdown.empty();
		   return false;
    	}
    });
});

jQuery(document).click(function(event){
    if (!(jQuery(event.target).closest(".search-dropdown").length)) {
        jQuery('.search-dropdown').addClass('hidden');
    }
});
</script>