<?php if ($pt->user->is_pro ==  0): ?>
<div class="go-pro-container">
	<div class="go-pro-head">
		<h4> {{LANG buy_pro_pkg}} 🎉</h4>
	</div>
	<div class="go-pro-body">
		<div class="go-pro-packages row">
			<div class="go-pro-pkg">
				<div>
					<div class="free-bg">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,2.5L8.42,8.06L2,9.74L6.2,14.88L5.82,21.5L12,19.09L18.18,21.5L17.8,14.88L22,9.74L15.58,8.06L12,2.5M9.38,10.5C10,10.5 10.5,11 10.5,11.63A1.12,1.12 0 0,1 9.38,12.75C8.75,12.75 8.25,12.25 8.25,11.63C8.25,11 8.75,10.5 9.38,10.5M14.63,10.5C15.25,10.5 15.75,11 15.75,11.63A1.12,1.12 0 0,1 14.63,12.75C14,12.75 13.5,12.25 13.5,11.63C13.5,11 14,10.5 14.63,10.5M9,15H15C14.5,16.21 13.31,17 12,17C10.69,17 9.5,16.21 9,15Z" /></svg>
						<span class="go-pro-pkg-price">{{LANG free_mbr}}</span> 
						<h5 class="package-price"><span>{{CURRENCY}}</span><b>0</b></h5>
					</div>
					<div class="go-pro-pkg-features">
						<div class="go-pro-features-list">
							<p><?php if ($pt->unlimited_free == true ) { ?>
								{{LANG upload_up_no_limit}}
							<?php } else{ ?>  {{LANG upload_up}} <?php echo $pt->max_upload_users_; ?> <?php } ?></p>
							<p>{{LANG ads_will_show_up}}</p>
							<p>{{LANG not_featured_videos}}</p>
							<p>{{LANG no_verified_badge}}</p>
						</div>
						<div class="go-pro-pkg-purchase">
							<button class="btn btn-main free-bg" onclick="window.location.href= '{{LINK }}'">
								{{LANG stay_free}}
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="go-pro-pkg">
				<div>
					<div class="pro-bg">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5,16L3,5L8.5,12L12,5L15.5,12L21,5L19,16H5M19,19A1,1 0 0,1 18,20H6A1,1 0 0,1 5,19V18H19V19Z" /></svg>
						<span class="go-pro-pkg-price">{{LANG pro_mbr}}</span> 
						<h5 class="package-price"><span>{{CURRENCY}}</span><b>{{CONFIG pro_pkg_price}}</b></h5>
					</div>
					<div class="go-pro-pkg-features">
						<div class="go-pro-features-list">
							<p><?php if ($pt->unlimited_pro == true ) { ?>
								{{LANG upload_up_no_limit}}
							<?php } else{ ?>  {{LANG upload_up}} <?php echo $pt->max_upload_users_pro; ?> <?php } ?></p>
							<p>{{LANG ads_wont_show_up}}</p>
							<p>{{LANG ur_are_featured}}</p>
							<p>{{LANG verified_badge}}</p>
							<?php if ($pt->config->sell_videos_system == 'on') { ?>
								<p>{{LANG sell_videos}}</p>
							<?php } ?>
						</div>
						<div class="go-pro-pkg-purchase">
							<button class="btn btn-main pro-bg" onclick="PT_PurchasePkg('pro',this);">
								{{LANG upgrade}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function PT_PurchasePkg(pkg,self){
		if (!pkg || pkg != 'pro' || !self) {
			return false;
		}

		$(self).text("{{LANG please_wait}}").attr('disabled', 'true');

		$.ajax({
			url: '{{LINK aj/go_pro/purchase}}',
			type: 'POST',
			dataType: 'json',
			data: {type: pkg},
		})
		.done(function(data) {
			if (data.status == 200) {
				document.location.href = data.url;
			}
			else{
				swal({
					title:"{{LANG error}}",
					text:"{{LANG error_msg}}",
					type:"error"
				})
			}
		})
		.fail(function() {
			console.log("error");
		});
	}
</script>
<?php else: ?>
<div class="go-pro-container">
	<div class="go-pro-head-upgraded">
		<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
		<h4>{{LANG congratulations}}</h4>
		<p class="text-center">{{LANG uare_pro}}</p>
	</div>
	<div class="go-pro-body-upgraded">
		<div class="upgraded-features">
			<p><span><i class="fa fa-check"></i></span> {{LANG upload_1tr_limit}}</p>
			<p><span><i class="fa fa-check"></i></span> {{LANG ads_wont_show_up}}</p>
			<p><span><i class="fa fa-check"></i></span> {{LANG ur_are_featured}}</p>
			<p><span><i class="fa fa-check"></i></span> {{LANG verified_badge}}</p>
		</div>
	</div>
	<div class="go-pro-footer-upgraded">
		<button class="btn-main btn">
			<a href="{{LINK }}">{{LANG start_features}}</a>
		</button>
	</div>
</div>
<?php endif; ?>