<div class="col-md-3 no-padding-right play-lists" data-playlist="{{ID}}">
   <a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}&list={{LIST_ID}}">
      <div class="video-latest-list video-wrapper" data-id="{{ID}}" data-views="{{VIEWS}}">
         <div class="video-thumb">      
            <img src="{{THUMBNAIL}}" alt="{{TITLE}}">
         </div>

         <div class="play-lists-overlay">
          
         </div>
         <div class="play-lists-count">
          <span>       
              <b>{{COUNT}}</b>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
          </span>
         </div>
      </div>
   </a> 
   <div class="video-title">
      <a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}&list={{LIST_ID}}">{{LANG watch_later}}</a> 
   </div>
</div>
